# This is a sample .env file for use in local development.

# 1. Create a '.env' file in the root of this service folder
# and update the environment variables to match the
# necessary config 


#set port
PORT

# PostgreSQL connection config
POSTGRES_USER
POSTGRES_PASSWORD
POSTGRES_HOST
POSTGRES_DB
POSTGRES_PORT

#Cloudinary cofiguration
CLOUD_NAME 
API_KEY
API_SECRET

# user service url
USER-SERVICE


#2. Create a '.flaskenv' file and set your flask app

FLASK_APP=run.py

#3. Finally create a 'database.conf' file to set your data base variables
POSTGRES_USER
POSTGRES_PASSWORD
POSTGRES_DB



